<header>
  <h2>Driver Trips</h2>
</header>
<table>
    <tr>
      <th>Driver's Name</th>
      <th>Total Distance</th>
      <th>Average Speed</th>
    </tr>
    <% drivers.each do |driver| %>
    <tr></tr>
    <tr>
      <td><%= show_name_of(driver) %></td>
      <td><%= show_total_trip_miles_for(driver) %></td>
      <td>show_average_speed_for(driver) ></td>
    </tr>
  <% end %>
</table>
