<header>
  <h2>Driver Trips</h2>
</header>
<table>
    <tr>
      <th>Driver's Name</th>
      <th>Total Distance</th>
      <th>Average Speed</th>
    </tr>
    <% trips.each do |trip| %>
      <tr>
        <td><%= show_name_of_driver_id(trip) %></td>
        <td><%= show_total_trip_miles_for(trip)%> miles</td>
        <td><%= show_average_speed_for(trip)%> miles</td>
      </tr>
    <% end %>
    <% drivers.each do |driver| %>
      <tr>
        <td><%= show_name_of(driver) %></td>
        <td>0 miles</td>
        <td>&nbsp;</td>
      </tr>
    <% end %>
</table>
