<ul id="trips">
  <% @dirts.each do |dirt| %>
    <li>
      <article class="dirt">
        <header>
          <h2><%= dirt.name %></h2>
        </header>
        <p>
          <%= "to be created" %>
        </p>
        <table>
        </table>
        <footer>
        </footer>
      </article>
    </li>
  <% end %>
</ul>
