<ul id="trips">
  <% @trips.each do |driver| %>
    <li>
      <article class="driver">
        <header>
          <h2><%= driver.name %></h2>
        </header>
        <p>
          <%= "to be created" %>
        </p>
        <table>
        </table>
        <footer>
        </footer>
      </article>
    </li>
  <% end %>
</ul>
