<ul id="trips">
  <% drivers.each do |driver| %>
    <li>
      <article class="driver">
        <header>
          <h2><%= show_name_of(driver) %></h2>
        </header>
        <p>
          <%= "#{show_total_miles_of(driver)} Miles" %>
        </p>
        <table>
        </table>
        <footer>
        </footer>
      </article>
    </li>
  <% end %>
</ul>
